@model CharacterManager.Contracts.InventoryItemDetail

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>InventoryItemDetail</h4>
    <hr />
    <dl class="dl-horizontal">

        @Html.HiddenFor(model => model.CharacterId)
        @Html.HiddenFor(model => model.InventoryId)
        @Html.HiddenFor(model => model.OwnerId)

        <dt>
            @Html.DisplayNameFor(model => model.ItemName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemQuantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemQuantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemType)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
