@model CharacterManager.Contracts.InventoryItemDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>InventoryItemDetail</h4>
    <hr />
    <dl class="dl-horizontal">

        @Html.HiddenFor(model => model.CharacterId)
        @Html.HiddenFor(model => model.InventoryId)

        <dt>
            @Html.DisplayNameFor(model => model.ItemName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemQuantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemQuantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemType)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.InventoryId }) |
    @Html.ActionLink("Back to List", "Index", new { id = Model.CharacterId })
</p>
