@model IEnumerable<CharacterManager.Contracts.InventoryListItem>

@{
    ViewBag.Title = "Index";
}

<p>
    @Html.ActionLink("Create New", "Create", new { id = Request.Url.Segments.Last() }) |
    @Html.ActionLink("Go Back", "Details", "Character", new { id = Request.Url.Segments.Last() }, null) |
    @Html.ActionLink("Back to Characters", "Index", "Character")
</p>

@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">

        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ItemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemType)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemType)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.InventoryId }) |
                @Html.ActionLink("Details", "Details", new { id = item.InventoryId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.InventoryId })
            </td>
        </tr>
    }

</table>
