@using CharacterManager.WebMVC.Helpers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - D&amp;D Character Manager</title>
    <link href="https://fonts.googleapis.com/css?family=Lato|Sawarabi+Mincho" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Characters", "Index", "Character")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    @{
        string name = Html.CurrentViewName();
        string controller = Html.CurrentController();
        if (name == "Index" && controller == "HomeController")
        {
            <div class="jumbotron home">
                <div class="container">
                    <h1>D&amp;D Character Manager</h1>
                    <p class="lead">Keep track of your character sheets, inventory items, and journal entries.</p>
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <div>
                            @Html.ActionLink("Log In", "Login", "Account", null, new { @class = "btn btn-default" })
                            @Html.ActionLink("Register", "Register", "Account", null, new { @class = "btn btn-danger" })
                        </div>
                    }
                </div>
            </div>
        }
        else if (name == "Index" && controller == "JournalController")
        {
            <div class="jumbotron" id="journal">
                <div class="container">
                    <h1>@ViewBag.CharacterName's Journal Entries</h1>
                    @*<p class="lead"></p>*@
                </div>
            </div>
        }
        else if (name == "Index" && controller == "InventoryController")
        {
            <div class="jumbotron" id="inventory">
                <div class="container">
                    <h1>@ViewBag.CharacterName's Inventory Items</h1>
                    @*<p class="lead"></p>*@
                </div>
            </div>
        }
    }
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - David Caldwell</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
