@model CharacterManager.Models.CharacterModels.CharacterDetail

@{
    ViewBag.Title = "Details";
}

<ol class="breadcrumb">
    <li>@Html.ActionLink("Characters", "Index")</li>
    <li class="active">@ViewBag.CharacterName</li>

    <li class="pull-right">@Html.ActionLink("Delete", "Delete", new { id = Model.CharacterId })</li>
    <li class="pull-right">@Html.ActionLink("Edit", "Edit", new { id = Model.CharacterId })</li>
</ol>

<section class="row">
    <div class="col-md-12">
        <div class="panel panel-danger char-info">
            <ul class="list-group panel-body">
                <li class="list-group-item">
                    <span class="badge">@Html.DisplayNameFor(model => model.Level)</span>
                    @Html.DisplayFor(model => model.Level)
                </li>
                <li class="list-group-item">
                    <span class="badge">@Html.DisplayNameFor(model => model.CharacterRace)</span>
                    @{ var race = Model.CharacterRace.GetDisplayName(); }
                    @Html.DisplayFor(model => race)
                </li>
                <li class="list-group-item">
                    <span class="badge">@Html.DisplayNameFor(model => model.CharacterGender)</span>
                    @Html.DisplayFor(model => model.CharacterGender)
                </li>
                <li class="list-group-item">
                    <span class="badge">@Html.DisplayNameFor(model => model.CharacterClass)</span>
                    @Html.DisplayFor(model => model.CharacterClass)
                </li>
                <li class="list-group-item">
                    <span class="badge">@Html.DisplayNameFor(model => model.Alignment)</span>
                    @{ var alignment = Model.Alignment.GetDisplayName(); }
                    @Html.DisplayFor(model => alignment)
                </li>
            </ul>
        </div>
    </div>
</section>

<section class="row">
    <aside class="col-md-3 col-sm-4">
        <div class="panel panel-danger">
            <ul class="panel-body text-center">
                <li>
                    <h3>@Html.DisplayNameFor(model => model.Strength)</h3>
                    <div class="stat-circle">@Html.DisplayFor(model => model.Strength)</div>
                    <span class="badge">
                        @{ var strMod = Model.Strength.Modifier(); }
                        @Html.DisplayFor(model => strMod)
                    </span>
                </li>
                <li>
                    <h3>@Html.DisplayNameFor(model => model.Dexterity)</h3>
                    <div class="stat-circle">@Html.DisplayFor(model => model.Dexterity)</div>
                    <span class="badge">
                        @{ var dexMod = Model.Dexterity.Modifier(); }
                        @Html.DisplayFor(model => dexMod)
                    </span>
                </li>
                <li>
                    <h3>@Html.DisplayNameFor(model => model.Constitution)</h3>
                    <div class="stat-circle">@Html.DisplayFor(model => model.Constitution)</div>
                    <span class="badge">
                        @{ var conMod = Model.Constitution.Modifier(); }
                        @Html.DisplayFor(model => conMod)
                    </span>
                </li>
                <li>
                    <h3>@Html.DisplayNameFor(model => model.Intelligence)</h3>
                    <div class="stat-circle">@Html.DisplayFor(model => model.Intelligence)</div>
                    <span class="badge">
                        @{ var intMod = Model.Intelligence.Modifier(); }
                        @Html.DisplayFor(model => intMod)
                    </span>
                </li>
                <li>
                    <h3>@Html.DisplayNameFor(model => model.Wisdom)</h3>
                    <div class="stat-circle">@Html.DisplayFor(model => model.Wisdom)</div>
                    <span class="badge">
                        @{ var wisMod = Model.Wisdom.Modifier(); }
                        @Html.DisplayFor(model => wisMod)
                    </span>
                </li>
                <li>
                    <h3>@Html.DisplayNameFor(model => model.Charisma)</h3>
                    <div class="stat-circle">@Html.DisplayFor(model => model.Charisma)</div>
                    <span class="badge">
                        @{ var charMod = Model.Charisma.Modifier(); }
                        @Html.DisplayFor(model => charMod)
                    </span>
                </li>
            </ul>
        </div>
    </aside>



    <div class="col-md-6 col-sm-8">
        <div class="panel panel-danger">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <div class="panel panel-danger">
                            <div class="panel-heading">
                                @Html.DisplayNameFor(model => model.ArmorClass)
                            </div>
                            <div class="panel-body hit-stats">
                                @Html.DisplayFor(model => model.ArmorClass)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="panel panel-danger">
                            <div class="panel-heading">
                                @Html.DisplayNameFor(model => model.Initiative)
                            </div>
                            <div class="panel-body hit-stats">
                                @Html.DisplayFor(model => model.Initiative)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="panel panel-danger">
                            <div class="panel-heading">
                                @Html.DisplayNameFor(model => model.Speed)
                            </div>
                            <div class="panel-body hit-stats">
                                @Html.DisplayFor(model => model.Speed) feet
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="panel panel-danger">
                            <div class="panel-heading">
                                @Html.DisplayNameFor(model => model.HitPoints)
                            </div>
                            <div class="panel-body hit-stats">
                                @Html.DisplayFor(model => model.HitPoints)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="panel panel-danger">
                            <div class="panel-heading">
                                @Html.DisplayNameFor(model => model.HitDie)
                            </div>
                            <div class="panel-body hit-stats">
                                @Html.DisplayFor(model => model.HitDie)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        @Html.DisplayNameFor(model => model.PersonalityTraits)
                    </div>
                    <div class="panel-body">
                        @Html.DisplayFor(model => model.PersonalityTraits)
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        @Html.DisplayNameFor(model => model.Ideals)
                    </div>
                    <div class="panel-body">
                        @Html.DisplayFor(model => model.Ideals)
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        @Html.DisplayNameFor(model => model.Bonds)
                    </div>
                    <div class="panel-body">
                        @Html.DisplayFor(model => model.Bonds)
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        @Html.DisplayNameFor(model => model.Flaws)
                    </div>
                    <div class="panel-body">
                        @Html.DisplayFor(model => model.Flaws)
                    </div>
                </div>
            </div>
        </div>
    </div>

        <div class="col-md-3 col-sm-8">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    Saving Throws
                </div>
                <ul class="list-group panel-body saving-throws">
                    <li class="list-group-item">
                        <span class="badge">@Html.DisplayFor(model => model.SavingStr)</span>
                        @Html.DisplayNameFor(model => model.SavingStr)
                    </li>
                    <li class="list-group-item">
                        <span class="badge">@Html.DisplayFor(model => model.SavingDex)</span>
                        @Html.DisplayNameFor(model => model.SavingDex)
                    </li>
                    <li class="list-group-item">
                        <span class="badge">@Html.DisplayFor(model => model.SavingCon)</span>
                        @Html.DisplayNameFor(model => model.SavingCon)
                    </li>
                    <li class="list-group-item">
                        <span class="badge">@Html.DisplayFor(model => model.SavingInt)</span>
                        @Html.DisplayNameFor(model => model.SavingInt)
                    </li>
                    <li class="list-group-item">
                        <span class="badge">@Html.DisplayFor(model => model.SavingWis)</span>
                        @Html.DisplayNameFor(model => model.SavingWis)
                    </li>
                    <li class="list-group-item">
                        <span class="badge">@Html.DisplayFor(model => model.SavingCha)</span>
                        @Html.DisplayNameFor(model => model.SavingCha)
                    </li>
                </ul>
            </div>
        </div>

            <div class="col-md-3 col-sm-8  col-xs-12 pull-right">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        Skills
                    </div>
                    <ul class="list-group panel-body skills">
                        <li class="list-group-item">
                            <span class="badge">@Html.DisplayFor(model => model.Acrobatics)</span>
                            @Html.DisplayNameFor(model => model.Acrobatics) <small>(Dex)</small>
                        </li>
                        <li class="list-group-item">
                            <span class="badge">@Html.DisplayFor(model => model.AnimalHandling)</span>
                            @Html.DisplayNameFor(model => model.AnimalHandling) <small>(Wis)</small>
                        </li>
                        <li class="list-group-item">
                            <span class="badge">@Html.DisplayFor(model => model.Arcana)</span>
                            @Html.DisplayNameFor(model => model.Arcana) <small>(Int)</small>
                        </li>
                        <li class="list-group-item">
                            <span class="badge">@Html.DisplayFor(model => model.Athletics)</span>
                            @Html.DisplayNameFor(model => model.Athletics) <small>(Str)</small>
                        </li>
                        <li class="list-group-item">
                            <span class="badge">@Html.DisplayFor(model => model.Deception)</span>
                            @Html.DisplayNameFor(model => model.Deception) <small>(Cha)</small>
                        </li>
                        <li class="list-group-item">
                            <span class="badge">@Html.DisplayFor(model => model.History)</span>
                            @Html.DisplayNameFor(model => model.History) <small>(Int)</small>
                        </li>
                        <li class="list-group-item">
                            <span class="badge">@Html.DisplayFor(model => model.Insight)</span>
                            @Html.DisplayNameFor(model => model.Insight) <small>(Wis)</small>
                        </li>
                        <li class="list-group-item">
                            <span class="badge">@Html.DisplayFor(model => model.Intimidation)</span>
                            @Html.DisplayNameFor(model => model.Intimidation) <small>(Cha)</small>
                        </li>
                        <li class="list-group-item">
                            <span class="badge">@Html.DisplayFor(model => model.Investigation)</span>
                            @Html.DisplayNameFor(model => model.Investigation) <small>(Int)</small>
                        </li>
                        <li class="list-group-item">
                            <span class="badge">@Html.DisplayFor(model => model.Medicine)</span>
                            @Html.DisplayNameFor(model => model.Medicine) <small>(Wis)</small>
                        </li>
                        <li class="list-group-item">
                            <span class="badge">@Html.DisplayFor(model => model.Nature)</span>
                            @Html.DisplayNameFor(model => model.Nature) <small>(Int)</small>
                        </li>
                        <li class="list-group-item">
                            <span class="badge">@Html.DisplayFor(model => model.Perception)</span>
                            @Html.DisplayNameFor(model => model.Perception) <small>(Wis)</small>
                        </li>
                        <li class="list-group-item">
                            <span class="badge">@Html.DisplayFor(model => model.Performance)</span>
                            @Html.DisplayNameFor(model => model.Performance) <small>(Cha)</small>
                        </li>
                        <li class="list-group-item">
                            <span class="badge">@Html.DisplayFor(model => model.Persuasion)</span>
                            @Html.DisplayNameFor(model => model.Persuasion) <small>(Cha)</small>
                        </li>
                        <li class="list-group-item">
                            <span class="badge">@Html.DisplayFor(model => model.Regligion)</span>
                            @Html.DisplayNameFor(model => model.Regligion) <small>(Int)</small>
                        </li>
                        <li class="list-group-item">
                            <span class="badge">@Html.DisplayFor(model => model.SleightOfHand)</span>
                            @Html.DisplayNameFor(model => model.SleightOfHand) <small>(Dex)</small>
                        </li>
                        <li class="list-group-item">
                            <span class="badge">@Html.DisplayFor(model => model.Stealth)</span>
                            @Html.DisplayNameFor(model => model.Stealth) <small>(Dex)</small>
                        </li>
                        <li class="list-group-item">
                            <span class="badge">@Html.DisplayFor(model => model.Survival)</span>
                            @Html.DisplayNameFor(model => model.Survival) <small>(Wis)</small>
                        </li>
                    </ul>
                </div>
            </div>

</section>

<ol class="breadcrumb">
    <li>@Html.ActionLink("Characters", "Index")</li>
    <li class="active">@ViewBag.CharacterName</li>

    <li class="pull-right">@Html.ActionLink("Delete", "Delete", new { id = Model.CharacterId })</li>
    <li class="pull-right">@Html.ActionLink("Edit", "Edit", new { id = Model.CharacterId })</li>
</ol>
