@model CharacterManager.Models.CharacterModels.CharacterDetail

@{
    ViewBag.Title = "Details";
}

<ol class="breadcrumb">
    <li>@Html.ActionLink("Characters", "Index")</li>
    <li class="active">@ViewBag.CharacterName</li>

    <li class="pull-right">@Html.ActionLink("Delete", "Delete", new { id = Model.CharacterId })</li>
    <li class="pull-right">@Html.ActionLink("Edit", "Edit", new { id = Model.CharacterId })</li>
</ol>

<section class="row">
    <div class="col-md-12">
        <div class="panel panel-danger char-info">
            <ul class="list-group panel-body">
                <li class="list-group-item">
                    <span class="badge">@Html.DisplayNameFor(model => model.CharacterRace)</span>
                    @{ var race = Model.CharacterRace.GetDisplayName(); }
                    @Html.DisplayFor(model => race)
                </li>
                <li class="list-group-item">
                    <span class="badge">@Html.DisplayNameFor(model => model.CharacterGender)</span>
                    @Html.DisplayFor(model => model.CharacterGender)
                </li>
                <li class="list-group-item">
                    <span class="badge">@Html.DisplayNameFor(model => model.CharacterClass)</span>
                    @Html.DisplayFor(model => model.CharacterClass)
                </li>
                <li class="list-group-item">
                    <span class="badge">@Html.DisplayNameFor(model => model.Alignment)</span>
                    @{ var alignment = Model.Alignment.GetDisplayName(); }
                    @Html.DisplayFor(model => alignment)
                </li>
            </ul>
        </div>
    </div>
</section>

<section class="row">
    <aside class="col-md-3">
        <div class="panel panel-danger">
            <ul class="panel-body text-center">
                <li>
                    <h3>@Html.DisplayNameFor(model => model.Strength)</h3>
                    <div class="stat-circle">@Html.DisplayFor(model => model.Strength)</div>
                    <span class="badge">
                        @{ var strMod = Model.Strength.Modifier(); }
                        @Html.DisplayFor(model => strMod)
                    </span>
                </li>
                <li>
                    <h3>@Html.DisplayNameFor(model => model.Dexterity)</h3>
                    <div class="stat-circle">@Html.DisplayFor(model => model.Dexterity)</div>
                    <span class="badge">
                        @{ var dexMod = Model.Dexterity.Modifier(); }
                        @Html.DisplayFor(model => dexMod)
                    </span>
                </li>
                <li>
                    <h3>@Html.DisplayNameFor(model => model.Constitution)</h3>
                    <div class="stat-circle">@Html.DisplayFor(model => model.Constitution)</div>
                    <span class="badge">
                        @{ var conMod = Model.Constitution.Modifier(); }
                        @Html.DisplayFor(model => conMod)
                    </span>
                </li>
                <li>
                    <h3>@Html.DisplayNameFor(model => model.Intelligence)</h3>
                    <div class="stat-circle">@Html.DisplayFor(model => model.Intelligence)</div>
                    <span class="badge">
                        @{ var intMod = Model.Intelligence.Modifier(); }
                        @Html.DisplayFor(model => intMod)
                    </span>
                </li>
                <li>
                    <h3>@Html.DisplayNameFor(model => model.Wisdom)</h3>
                    <div class="stat-circle">@Html.DisplayFor(model => model.Wisdom)</div>
                    <span class="badge">
                        @{ var wisMod = Model.Wisdom.Modifier(); }
                        @Html.DisplayFor(model => wisMod)
                    </span>
                </li>
                <li>
                    <h3>@Html.DisplayNameFor(model => model.Charisma)</h3>
                    <div class="stat-circle">@Html.DisplayFor(model => model.Charisma)</div>
                    <span class="badge">
                        @{ var charMod = Model.Charisma.Modifier(); }
                        @Html.DisplayFor(model => charMod)
                    </span>
                </li>
            </ul>
        </div>
    </aside>

    <div class="col-md-4">
        <div class="panel panel-danger">
            <div class="panel-heading">
                Saving Throws
            </div>
            <ul class="list-group panel-body saving-throws">
                <li class="list-group-item">
                    <span class="badge">+3</span>
                    Strength
                </li>
                <li class="list-group-item">
                    <span class="badge">+3</span>
                    Dexterity
                </li>
                <li class="list-group-item">
                    <span class="badge">+3</span>
                    Constitution
                </li>
                <li class="list-group-item">
                    <span class="badge">+3</span>
                    Intelligence
                </li>
                <li class="list-group-item">
                    <span class="badge">+3</span>
                    Wisdom
                </li>
                <li class="list-group-item">
                    <span class="badge">+3</span>
                    Charisma
                </li>
            </ul>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        Skills
                    </div>
                    <ul class="list-group panel-body skills">
                        <li class="list-group-item">
                            <span class="badge">+1</span>
                            Acrobatics <small>(Dex)</small>
                        </li>
                        <li class="list-group-item">
                            <span class="badge">+1</span>
                            Animal Handling <small>(Wis)</small>
                        </li>
                        <li class="list-group-item">
                            <span class="badge">+1</span>
                            Arcana <small>(Int)</small>
                        </li>
                        <li class="list-group-item">
                            <span class="badge">+1</span>
                            Athletics <small>(Str)</small>
                        </li>
                        <li class="list-group-item">
                            <span class="badge">+1</span>
                            Deception <small>(Cha)</small>
                        </li>
                        <li class="list-group-item">
                            <span class="badge">+1</span>
                            History <small>(Int)</small>
                        </li>
                        <li class="list-group-item">
                            <span class="badge">+1</span>
                            Insight <small>(Wis)</small>
                        </li>
                        <li class="list-group-item">
                            <span class="badge">+1</span>
                            Intimidation <small>(Cha)</small>
                        </li>
                        <li class="list-group-item">
                            <span class="badge">+1</span>
                            Investigation <small>(Int)</small>
                        </li>
                        <li class="list-group-item">
                            <span class="badge">+1</span>
                            Medicine <small>(Wis)</small>
                        </li>
                        <li class="list-group-item">
                            <span class="badge">+1</span>
                            Nature <small>(Int)</small>
                        </li>
                        <li class="list-group-item">
                            <span class="badge">+1</span>
                            Perception <small>(Wis)</small>
                        </li>
                        <li class="list-group-item">
                            <span class="badge">+1</span>
                            Performance <small>(Cha)</small>
                        </li>
                        <li class="list-group-item">
                            <span class="badge">+1</span>
                            Persuasion <small>(Cha)</small>
                        </li>
                        <li class="list-group-item">
                            <span class="badge">+1</span>
                            Religion <small>(Int)</small>
                        </li>
                        <li class="list-group-item">
                            <span class="badge">+1</span>
                            Sleight Of Hand <small>(Dex)</small>
                        </li>
                        <li class="list-group-item">
                            <span class="badge">+1</span>
                            Stealth <small>(Dex)</small>
                        </li>
                        <li class="list-group-item">
                            <span class="badge">+1</span>
                            Survival <small>(Wis)</small>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-5">
        <div class="panel panel-danger">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="panel panel-danger">
                            <div class="panel-heading">
                                Armor Class
                            </div>
                            <div class="panel-body hit-stats">
                                5
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-danger">
                            <div class="panel-heading">
                                Initiative
                            </div>
                            <div class="panel-body hit-stats">
                                12
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-danger">
                            <div class="panel-heading">
                                Speed
                            </div>
                            <div class="panel-body hit-stats">
                                5
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-danger">
                            <div class="panel-heading">
                                @Html.DisplayNameFor(model => model.HitPoints)
                            </div>
                            <div class="panel-body hit-stats">
                                @Html.DisplayFor(model => model.HitPoints)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        @Html.DisplayNameFor(model => model.PersonalityTraits)
                    </div>
                    <div class="panel-body">
                        @Html.DisplayFor(model => model.PersonalityTraits)
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        @Html.DisplayNameFor(model => model.Ideals)
                    </div>
                    <div class="panel-body">
                        @Html.DisplayFor(model => model.Ideals)
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        @Html.DisplayNameFor(model => model.Bonds)
                    </div>
                    <div class="panel-body">
                        @Html.DisplayFor(model => model.Bonds)
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        @Html.DisplayNameFor(model => model.Flaws)
                    </div>
                    <div class="panel-body">
                        @Html.DisplayFor(model => model.Flaws)
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<ol class="breadcrumb">
    <li>@Html.ActionLink("Characters", "Index")</li>
    <li class="active">@ViewBag.CharacterName</li>

    <li class="pull-right">@Html.ActionLink("Delete", "Delete", new { id = Model.CharacterId })</li>
    <li class="pull-right">@Html.ActionLink("Edit", "Edit", new { id = Model.CharacterId })</li>
</ol>
