@model CharacterManager.Models.CharacterDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CharacterDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CharacterName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CharacterName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CharacterRace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CharacterRace)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CharacterGender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CharacterGender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CharacterClass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CharacterClass)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Journal", "Index", "Journal", new { Model.CharacterId }, null) |
    @Html.ActionLink("Edit", "Edit", new { id = Model.CharacterId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
