@model IEnumerable<CharacterManager.Models.CharacterModels.CharacterListItem>

@{
    ViewBag.Title = "Index";
}

<div class="jumbotron" id="character">
    <div class="container">
        <h1>Characters</h1>
        <div class="links">
            @Html.ActionLink("New Character", "Create", null, new { @class = "btn btn-default" })
        </div>
    </div>
</div>

@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">

        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}

<div class="row">
    @foreach (var item in Model)
    {
        var race = item.CharacterRace.GetDisplayName();
        //var alignment = item.Alignment.GetDisplayName();
        <div class="col-md-6">
            <div class="panel panel-danger character-card">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>@Html.ActionLink(item.CharacterName, "Details", new { id = item.CharacterId })</h2>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-9 col-xs-8">
                            <h4>@Html.DisplayFor(modelItem => item.CharacterClass)</h4>
                            @{
                                string baseUrl = "~/Content/Images/";
                                string classImageName = item.CharacterClass.ToString().ClassIconUrl();
                                string classIcon = baseUrl + classImageName;
                            }
                            <img src=@Url.Content(classIcon) alt="Class icon" class="img-responsive class-icon" />
                        </div>
                        <div class="col-md-3 col-xs-4">
                            <h2>2</h2>
                            <h4>Level</h4>
                            <h4>@Html.DisplayFor(modelItem => item.CharacterGender)</h4>
                            <h4>@Html.DisplayFor(modelItem => race)</h4>
                            @*<h4>@Html.DisplayFor(modelItem => alignment)</h4>*@
                        </div>
                    </div>

                </div>
            </div>
        </div>
    }
</div>
@*@Html.ActionLink("Edit", "Edit", new { id = item.CharacterId }) |
    @Html.ActionLink("Details", "Details", new { id = item.CharacterId }) |
    @Html.ActionLink("Delete", "Delete", new { id = item.CharacterId }) |
    @Html.ActionLink("Journal", "Index", "Journal", new { id = item.CharacterId }, null) |
    @Html.ActionLink("Inventory", "Index", "Inventory", new { id = item.CharacterId }, null)*@
