@model IEnumerable<CharacterManager.Models.CharacterModels.CharacterListItem>

@{
    ViewBag.Title = "Index";
}



@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">

        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}

    <div class="jumbotron" id="character">
        <div class="container">
            <h1>Characters</h1>
            @*<p class="lead"></p>*@
        </div>
    </div>

    <p>
        @Html.ActionLink("New Character", "Create", null, new { @class="btn btn-danger" })
    </p>

    <div class="row">
        @foreach (var item in Model)
        {
            var race = item.CharacterRace.GetDisplayName();
        <div class="col-md-6">
            <div class="character-card">
                <h2>
                    @Html.ActionLink(item.CharacterName, "Details", new { id = item.CharacterId })
                </h2>
                <h4>
                    @Html.DisplayFor(modelItem => item.CharacterClass)
                </h4>
                <p>
                    @Html.DisplayFor(modelItem => item.CharacterGender)
                </p>
                <p>
                    @Html.DisplayFor(modelItem => race)
                </p>
            </div>
        </div>
        }
    </div>
@*@Html.ActionLink("Edit", "Edit", new { id = item.CharacterId }) |
@Html.ActionLink("Details", "Details", new { id = item.CharacterId }) |
@Html.ActionLink("Delete", "Delete", new { id = item.CharacterId }) |
@Html.ActionLink("Journal", "Index", "Journal", new { id = item.CharacterId }, null) |
@Html.ActionLink("Inventory", "Index", "Inventory", new { id = item.CharacterId }, null)*@
